body{font-size:14px;color:#004940;
background:-moz-linear-gradient(left,#FFFFFF,#ecf4f1);  
background:-webkit-linear-gradient(left,#FFFFFF,#ecf4f1);  
background:-o-linear-gradient(left,#FFFFFF,#ecf4f1);  
background:linear-gradient(left,#FFFFFF,#ecf4f1);  
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#FFFFFF,endColorstr=#ecf4f1);
font-family:"微软雅黑",Arial,Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:bold;font-size:18px}
ol,ul{list-style:none}
a{color:#F30;text-decoration:none;blr:expression(this.onFocus=this.blur())}
a:hover{color:#F60}
a:focus{outline:none}
hr{height:0px;border:none;_border:dotted;color:#97b2ae}
center{color:#b9c8c6;}
center a{color:#b9c8c6;}
center a:hover{color:#b9c8c6;}
img{border:0px;}
.clear{clear:both}
input{background-color:#FFF;border:1px solid #3b6d18;margin-left:10px;color:#060;font-weight:bold}
table{line-height:24px;border-right:1px;border-top:1px;border-spacing:0px}
td{border-left:1px;border-bottom:1px}
td a{color:#3b6d18}